
@{
    ViewData["Title"] = "Post";
}

<h1>Post to page</h1>

<div>
    <input type="button"
         value="Post a joke"
         onclick="location.href='@Url.Action("Joke", "Posting")'" />
    <input type="button"
        value="Post a Booking"
        onclick="location.href='@Url.Action("Booking", "Posting")'" />
    <input type="button"
         value="Post News"
         onclick="location.href='@Url.Action("News", "Posting")'" />
</div>