@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The AUTO POSTER!</h1>
    <br>
    <br>
    <p style="font-size: 1.5em;">Our product is a website that enables the user to maintain his Facebook page with no effort. <br>
The user gives a few needed details, and then the website takes care of all the rest.<br>
Each time it will post  a unique, brand new post to the page, by the user preferred frequency.</p>
</div>
