@model FacebookAutoPost.Models.AutoPost

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AutoPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PageId" class="control-label"></label>
                <input asp-for="PageId" class="form-control" />
                <span asp-validation-for="PageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Token" class="control-label"></label>
                <input asp-for="Token" class="form-control" />
                <span asp-validation-for="Token" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAPI" class="control-label"></label>
                <input asp-for="UserAPI" class="form-control" />
                <span asp-validation-for="UserAPI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostTemplate" class="control-label"></label>
                <input asp-for="PostTemplate" class="form-control" />
                <span asp-validation-for="PostTemplate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frequency" class="control-label"></label>
                 
                <select id="Frequency">
                    <option value="">--Please choose an option--</option>
                    <option value="2Min">Every 2 minutes</option>
                    <option value="5Min">Every 5 minutes</option>
                    <option value="30Min">Every 30 minutes</option>
                    <option value="1Hour">Every 1 hour</option>
                    <option value="5Hour">Every 1 hours</option>
                    <option value="day">Once a day</option>
                    <option value="week">Once a week</option>
                    <option value="month">Once a month</option>
                </select>
                <p></p>
                <span asp-validation-for="Frequency" class="text-danger"></span>
                <div id="freqency-selector-group-container" class="form-group">
                    <div id ="time-freqency-selector-group-container">
                    </div>
                     <div id ="day-week-freqency-selector-group-container">
                    </div>
                </div>
                
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiKey" class="control-label"></label>
                <input asp-for="ApiKey" class="form-control" />
                <span asp-validation-for="ApiKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uri" class="control-label"></label>
                <input asp-for="Uri" class="form-control" />
                <span asp-validation-for="Uri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/freqencySelector.js"></script>
